[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "datafsm"]
	path = datafsm
	url = https://github.com/j-magnolia/datafsm
[submodule "kayadata"]
	path = kayadata
	url = https://github.com/j-magnolia/kayadata
